html, body {
    margin: 0;
    padding: 0;
    font-family: PingFangSC-Regular,Helvetica Neue,Microsoft Yahei,微软雅黑;
}

.navigation {
    position: fixed;
    width: 200px;
    text-align: center;
    padding: 0 20px;
    background: #30333c;
    height: 100%;
    color: #fff;
}

.navTitle {
    border-bottom: 1px solid #6b7386;
    margin-bottom: 10px;
}
.navTitle a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    line-height: 56px;
}
.navTitle img {
    width: 18px;
    height: 18px;
    padding-right: 15px;
}

.navList .nav-a {
    text-decoration: none;
    display: block;
    padding: 10px 0;
    font-size: 14px;
    color: #6b7386;
}

.navList .nav-a:hover {
    color: #fff;
    font-size: 15px;
}

.navFoot {
    width: 200px;
    font-size: 14px;
    line-height: 50px;
    border-top: 1px solid #6b7386;
    position: absolute;
    bottom: 0;
}

.navFoot img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: 20px;
    cursor: pointer;
}