<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>404-Tool-Mr.Lei</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" type="text/css" href="/link/404css3.css">
    <link rel="icon" type="image/png" href="/images/icon.png" sizes="32x32">
    <style>
        #root {
            position: fixed;
            width: 100%;
            height: 100%;
        }
        #content {
            width: 400px;
            height: 182px;
            text-align: center;
            position: absolute;
            bottom: 10%;
            left: 50%;
            margin-left: -200px;
            color: #000;
        }
        #alert{
            font-size: 30px;
            margin-bottom: 20px;
        }
        #redirect {
            font-size: 16px;
        }
        #redirect a{
            text-decoration: none;
            color: #00a4ff;
        }

    </style>
</head>
<body>
    <div id="root">
        <div id="content">
            <p id="alert">404</p>
            <p id="redirect">The Page Is Not Found And Click To The <a href="/">INDEX</a></p>
        </div>
    </div>
    <div class="ele-container">
        <div class="ele-wrapper">
          <div class="ele-tail"></div>
          <div class="ele-body">
            <div class="ele-head">
              <div class="ele-eyebrows"></div>
              <div class="ele-eyes"></div>
              <div class="ele-mouth"></div>
              <div class="ele-fang-front"></div>
              <div class="ele-fang-back"></div>
              <div class="ele-ear"></div>
            </div>
          </div>
          <div class="ele-leg-1 ele-leg-back">
            <div class="ele-foot"></div>
          </div>
          <div class="ele-leg-2 ele-leg-front">
            <div class="ele-foot"></div>
          </div>
          <div class="ele-leg-3 ele-leg-back">
            <div class="ele-foot"></div>
          </div>
          <div class="ele-leg-4 ele-leg-front">
            <div class="ele-foot"></div>
          </div>
        </div>
      </div>
</body>

</html>
